.container {
	max-width: 100%;
}

.container img {
	width: 100%;
	border-radius: 50%;
}

@media screen and (min-width: 430px) {
	.container {
		max-width: 300px;
	}
}

@media screen and (min-width: 1025px) {
	.container {
		max-width: 450px;
	}
}
